<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.up.day.day.com.daytest">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StaticInnerClassLeakActivity" />
        <activity android:name=".HandlerCauseLeakActivity" />
        <activity android:name=".MultiAnonymousInnerClassLeakActivity" />
        <activity android:name=".SynchronizeTestActivity" />
        <activity android:name=".AnonymousLeakActivity" />
        <activity android:name=".TestSignedAndUnsignedActivity" />
        <activity android:name=".JNITestActivity" />
        <activity android:name=".ThreadCauseLeakActivity" />
        <activity android:name=".AsyncTaskCauseLeakActivity"></activity>
    </application>

</manifest>